@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@200;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    background: rgb(245, 232, 232);
  }
}
